@using BackEndProject_Edu.Models
@model PaginationVM<Event>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a class="btn btn-outline-github" asp-action="create">
                Create
            </a>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                DateTime
                            </th>
                            <th>
                                Venue
                            </th>
                            <th>
                                Desc
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ev in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/img/event/@ev.ImgUrl" alt="" />
                                </td>
                                <td>
                                    @ev.Name
                                </td>
                                <td>
                                    @ev.Time.ToString("dd.MMMM.yyyy")
                                </td>
                                <td>
                                    @ev.Venue
                                </td>
                                <th>
                                    @ev.Desc.Substring(0,Math.Min(30,ev.Desc.Length))...
                                </th>
                                <td>
                                    <a class="btn btn-outline-facebook" asp-action="detail" asp-route-id="@ev.Id"><i class="mdi mdi-account-card-details"></i></a>
                                    <a class="btn btn-outline-primary" asp-action="update" asp-route-id="@ev.Id"><i class="mdi mdi-settings"></i></a>
                                    <a class="btn btn-outline-danger" asp-action="delete" asp-route-id="@ev.Id"><i class="mdi mdi-delete"></i></a>
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item  @(Model.HasPrev?"":"disabled")">
                <a class="page-link" asp-action="index" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
            </li>
            @for (int i = Model.Start; i <= Model.End; i++)
            {
                <li class="page-item @(i==Model.CurrentPage?"disabled ":"")"><a class="page-link  @(i==Model.CurrentPage?" bg-dark ":"")" asp-action="index" asp-route-page="@i">@i</a></li>
            }

            <li class="page-item @(Model.HasNext?"":"disabled")">
                <a class="page-link" asp-action="index" asp-route-page="@(Model.CurrentPage+1)">Next</a>
            </li>
        </ul>
    </nav>
</div>
@section script {
    <partial name="_ValidationPartial"></partial>
}